* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, sans-serif;
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #60106e 35%, #007dffc5 100%);
    line-height: 1.1;
    background-color: #f0f8ff;
    color: #cbd8e3db;
  }
  
  
  header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  header h1 {
    font-size: 1.5rem;
  }
  

  nav {
    background-color: #34495e;
    padding: 0.5rem 0;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  nav a:hover {
    color: #d9e8d8;
    text-decoration: underline;
  }
  

  main {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
  }
  
  section {
    background-color: rgb(127, 129, 138);
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid #0b0a3f;
    border-radius: 8px;
  }
  
  h2 {
    color: #180e51;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #eeeef1;
  }

  img {
    width: 20%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  footer {
    background-color: #2c3e50;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 1rem;
  }